@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.prevent-select-img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


ul >  li{
    /*px-3 hover:bg-red-700 h-full text-center  justify-center flex items-center*/
    padding: 0 10px;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    transition-property: all;
    transition-duration: 0.25s;
}

ul >li:hover{
    background-color: rgb(185 ,28 ,28);
}

.search-bar{
    height: 20vh;
    padding: 0;
}


.gallery{
    width: 25%;
    height: 100%;
}

.img{
    height: 100%;
    width: 100%;
    animation-name: fade;
    animation-duration: 2s;
}


@keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
    
}

.gal-img{    
    width: 100%;
    height: 100%;
}